.photo{ 
    max-height: 30%;
    max-width: 20%;
    border: 1px solid;
    justify-content: center;
}

.menu-item {
    border: 1px solid;
    max-width: 50%;
    padding: 10px;
}

.section-center {
    display: flex;
}